textarea,
input[type=text], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 20%;
    background-color: rgba(0, 0, 156, 0.589);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: rgba(0, 0, 156, 0.589);
    opacity: .5;
}

.form_container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 50%;
    display: inline-block;
    margin: 10px auto auto auto;
}

.contact {
    display: block;
    text-align: center;
}